<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../public/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Login to ChatHUB</h1>
        <% if (message.length > 0) { %>
            <div class="alert">
                <%= message %>
            </div>
        <% } %>
        <form action="/auth/loginn" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>

            <button type="submit">Login</button>
        </form>
        <div class="additional-links">
            <form action="/auth/forgot" method="GET">
                <button type="submit" class="forgot-password-btn">Forgot Password?</button>
            </form>
            <p>Don't have an account? <a href="/auth/signup">Sign Up</a></p>
        </div>
    </div>
</body>
</html>
