/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1F1F1F;
    color: #FFF;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2E3B4E;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: #1A2634;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background 0.3s;
}

header nav a:hover {
    background: #34495E;
}
.requests-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2E3B4E;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.request-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #34495E;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    color: #FFF;
}

.request-item span {
    flex-grow: 1;
    font-size: 16px;
}

.accept-btn, .reject-btn {
    border: none;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
}

.accept-btn {
    background-color: #1A2634;
}

.reject-btn {
    background-color: #E74C3C;
}

.accept-btn:hover {
    background-color: #34495E;
    transform: scale(1.05);
}

.reject-btn:hover {
    background-color: #C0392B;
    transform: scale(1.05);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .request-item {
        flex-direction: column;
        text-align: center;
    }

    .request-item .accept-btn, .request-item .reject-btn {
        margin: 5px;
        width: 100%;
    }
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav {
        margin-top: 20px;
        padding-bottom: 10px;
    }

    header nav a {
        font-size: 14px;
        padding: 10px 20px;
    }
}
